<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0d327672cc.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body class="home">
    <header class="header">
        <div class="header--caja">
        <div class="header--img">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="header--div">
        <form class="header--form" action="">
            <input type="text" placeholder="Buscar pruducto">
            <button onclick="alert('Ya se está realizando tu petición')"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </div>
        </div>
        <p class="header--p"><i class="fa-solid fa-hand-holding-dollar"></i> <b>Comprá en cuotas y sin tarjeta de crédito</b></p>
        <nav class="header--menu">
            <ul>
                <li><a href="" target="_blank">Ofertas</a></li>
                <li><a href="" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="" target="_blank">Vender</a></li>
                <li><a href="" target="_blank">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" target="_blank">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login" target="_blank">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="" target="_blank">Mis Compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>     
        </nav>
        <div class="buttom">
            <i class="fa-solid fa-bars"></i>
        </div>      

        <div class="header__banner">
            <img src="/images/img-home-banner.jpg" width="100%" alt="Banner">
        </div>
    </header>
    <main class="main">
        <h2><b>Basado en tu última visita</b></h2>
        <section>    
            <article class="main--articulo">
                <img src="/images/img-cafetera-moulinex.jpg" width="300px" alt="Cafetera">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>    
            </article>
            <article class="main--articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" width="300px"  alt="MacBook">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"> $230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>  
                    </div>    
            </article>
            <article class="main--articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="300px"  alt="galaxy s10">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"> $70.500</p>
                        <p class="descuento"> 10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>    
            </article>
            <article class="main--articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" width="300px"  alt="SmartTv">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"> $23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>    
            </article>
        </section>            
        <h2><b>Sección de Ofertas</b></h2>
        <section>
            <article class="main--articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" width="300px"  alt="Cafetera">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
            </article>
            <article class="main--articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" width="300px"  alt="MacBook">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>   
            </article>
            <article class="main--articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="300px"  alt="galaxy s10">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento"> 10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>   
            </article>
            <article class="main--articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" width="300px"  alt="SmartTv">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>   
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <span>
                <i class="fa-solid fa-credit-card"></i>
            </span>
            <h3><b>Pagá con tarjeta o en efectivo</b></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer__section">
            <span>
                <i class="fa-solid fa-gift"></i>
            </span>
            <h3><b>Envío gratis desde $ 2.500</b></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__section">
            <span>
                <i class="fa-solid fa-user-shield"></i>
            </span>
            <h3><b>Seguridad, de principio a fin</b></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="footer__section--copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>