*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorGrisClaro);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.header{
    background-color: var(--colorAmarillo);
    padding: 20px;
}
.main{
    background-color: var(--colorGrisClaro);
    margin: auto;
    width: 90%;
}