*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorGrisClaro);
}
.header{
    background-color: var(--colorAmarillo);
    padding: 20px;
}
.main{
    background-color: var(--colorGrisClaro);
    margin: auto;
    width: 90%;
}