.buttom{
    text-align: center;
    margin-right: 330px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.buttom i{
    margin-left: 150px;
    display: inline-block;
    border-radius: 2px;
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.logo{
    height: 150px;
    width: 150px;
    display: inline;
}
.precio{
    margin: 0;
    font-size: 18px;
}
.descuento{
    margin: 0;
    font-size: 16px;
    color: var(--colorVerde);
}
.descripcion{
    margin-bottom: 0;
    font-size: 16px;
}
.home__header div{
    text-align: center;
}
.home__header p{
    padding-left: 30px;
}
.home__header--menu ul li a{
    text-decoration: none;
    color: var(--colorGrisOscuro);
}
.home__header__banner img{
    display: block;
}
.home__main__section{
    margin: auto;
    width: 90%;
}
.home__main__section h2{
    font-size: 24px;
}
.home__footer__section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.home__footer__section span i{
    font-size: 2em;
    color: var(--colorCeleste);
}
.home__footer__section h3{
    color: var(--colorGrisOscuro);
}
.home__footer__section p{
    color: var(--colorGrisOscuro);
}

/*Tablet*/
@media (min-width: 361px){
    .home__header--menu{
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
/*Laptop*/
@media (min-width: 769px){
    .home__header--menu{
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
}