.buttom{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.buttom i{
    background-color: var(--colorAzul);
    color: var(--colorBlanco);
    font-size: 20px;
    padding: 9px 10px;
    border-radius: 5px;
}
.logo{
    height: 100%;
    width: 100%;
}
.precio{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
.descuento{
    margin: 0px;
    font-size: 16px;
    color: var(--colorVerde);
}
.descripcion{
    display: none;
    font-size: 16px;
}
.header--caja{
    display: flex;
    flex-wrap: nowrap;
}
.header--div{
    display: flex;
    width: 50%;
    height: 65.2;
    align-items: center;
}
.header--form{
    display: flex;
    margin-left: 10px;
    height: 60%;
    width: 100%;
}
.header--form input{
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 100%;
}
.header--form button{
    display: flex;  
    background-color: var(--colorBlanco);
    right: 20px;
    padding: 3px;
    border: none;
    align-self: center;
}
.header--menu{
    display: none;
}
.header--menu ul{
    margin-left: 0px;
    list-style-type: none;
    padding-left: 0;
}
.header--menu ul li a{
    text-decoration: none;
    color: var(--colorGrisOscuro);
}
.header--p{
    text-align: center;
    margin: 20px auto;
}
.main h2{
    font-size: 24px;
}
.main--articulo{
    border-top: 1px solid var(--colorGrisClaro);
    background-color: var(--colorBlanco);
    margin-bottom: 10px;
    width: 100%;
}
.main--articulo img{
    width: 100%;
}
.main--articulo div{
    display: flex;
    border-top: 1px solid var(--colorBlanco);
    padding: 15px;
    position: relative;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.main--articulo i{
    display: block;
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorVerde);
    color: var(--colorVerde);
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}
.footer__section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.footer__section span i{
    font-size: 2em;
    color: var(--colorCeleste);
}
.footer__section h3{
    color: var(--colorGrisOscuro);
}
.footer__section p{
    color: var(--colorGrisOscuro);
}

/*Tablet*/
@media (min-width: 361px){
    .header{
        display: flex;
        flex-wrap: wrap;
    }
    .header--caja{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
    }
    .header--div{
        display: flex;
        align-items: center;
    }
    .header--form{
        display: flex;
        height: auto;
    }
    .header--form input{
        width: 100%;
        margin: 0;
        border-radius: 10px;
        border: 1px solid var(--colorGrisOscuro);
    }
    .header--form button{
        display: block;
        position: initial;
        padding: 0;
        border: 1px solid var(--colorGrisOscuro);
    }
    .header--form i{
        color: var(--colorGrisClaro);
        padding: 3px;
        font-size: smaller;
    }
    .header--p{
        width: 33%;
        margin-left: 2%;
    }
    .header--menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
        gap: 20px;
    }
    .header--menu ul{
        display: flex;
        gap: 10px;
    }
    .header--menu ul li{
        display: inline-block;
        font-size: 72%;
    }
    .header--menu a{
        display: inline-block;
        font-size: 100%;
    }
    .button{
        display: none;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main h2{
        margin: 20px 0;
    }
    .main--articulo{
        box-shadow: 0px 0px 10px var(--colorGrisClaro);
        width: 45%;
    }
    .descripcion{
        display: block;
    }
}
/*desktop*/
@media (min-width: 769px){
    .main--articulo{
        width: 22%;
    }
}