@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './home.css';
@import './general.css';
@import './login.css';
@import './register.css';

:root{
    --colorRojo: red;
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorBlanco: #fff;
}